* {
  text-decoration: none;
  list-style-type: none;
}
html {
  height:100vh;
  min-height: 100%;
}
body {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 100%;
  height:100%;
}
.show {
  display:content;
}
.hide{
  display:none;
}
/*/////////////////SIDE NAV BAR//////////////*/
.social {
  margin-top: 100px;
  text-align: center;
  display:block;
  margin-left:-40px;
}
.sidebar {
  height: 100vh; 
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1E000E;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidebar a {
  text-align: center;
  margin:10px;
  text-decoration: none;
  font-size: 25px;
  color: #F4F7BE;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: white;
  text-decoration: none;
}

.sidebar .closeButton {
  position: absolute;
  top: 0;
  right: 15px;
  margin-top: -5px;
  font-size: 36px;
}

.openButton {
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(17, 17, 17, 0);
  color: #F4F7BE;
  padding: 10px 15px;
  border: none;
  position: absolute;
}
#main {
  transition: margin-left .5s;
}
/*/////////////////HOME DIV///////////////////*/
.home {
  min-height:380px;
  margin: 0px;
  height: 100vh;
  overflow-x: hidden;
  width:100vw;
  background-color: #121f23;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(https://images.unsplash.com/photo-1495431088732-09e59535d241?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
}
h1 {
  font-size: 10vw;
  padding-left:10%;
  margin: 0px auto 0 5px;
  color: #F4F7BE;
  font: italic bold 16vw Georgia, Serif;
  text-shadow: -3px 3px 0 #823038, -14px 7px 0 #1E000E;
}
.animate-reveal {
  opacity: 0;
  animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}
.first {
  animation-delay: 0ms;
  margin-left: 75px;
}
.second {
  animation-delay: 500ms;
  margin-left: 150px;
}
@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*/////////////////ABOUT DIV//////////////////*/
.about {
  /* background: #DEBa6F; */
  /* background: #695958; */
  background: #7A918D;
  min-height:100%;
  margin: 0px;
  min-height:100%;
  width:100%;
}
.about-text {
  background-color: rgba(6, 6, 6, 0.174);
  padding: 30px;
  margin-left:15%;
  max-width: 500px;
  border-radius: 25px;
  box-sizing: border-box;
}
.about-text p a {
  text-decoration: none;
  font-size: larger;
  color: black;
}
/*/////////////////PORTFOLIO DIV///////////////*/
.portfolio {
  background: #7A918D;
  margin: 0px;
  max-width: 100%;
  min-height: 100%;
  height:100%;
  width:100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.grid {
  padding: 50px ;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.grid a {
  height: 300px;
}
.pBox .project-titles{
  text-decoration: none;
  align-items: center;
  margin:0;
  display: box;
  font-size: 26px;
  color: #e0eff2;
  background-color: rgba(0, 0, 0, 0.489);
  font: italic bold Georgia, Serif;
  text-shadow: -3px 3px 0 #712a2a7b, -14px 7px 0 #0a0e275a;
}
.pBox {
  width: 350px;
  height: 300px;
  text-align: center;
}
.pBox .project-titles:hover {
  font-size: 0;
}
.pBox .project-titles:hover:after {
  content: attr(data-hover);
  font-size: 20px;
}
.pBox a {
  margin:0;
  padding: 0;
}

/*/////////////////CONTACT DIV/////////////////*/
.contact {
  /* background: #823038; */
  background: #7A918D;
  min-height:380px;
  margin: 0px;
  width:100%;
}
iframe {
  margin-left: 15%;
  padding-top: 15%;
  width:70%;
}