/* COLORS 
green : rgb(39, 255, 162);
dark-green: #2D6C3C;
gold : rgb(218, 194, 9);
white : #E9E8E2;
gray : #B8BAAB; */

/* FONTS
font-family: 'Trirong', serif;
font-family: 'IM Fell DW Pica SC', serif;
font-family: 'Bellota', cursive; */


* {
  text-decoration: none;
  list-style-type: none;
}
html {
  height:100vh;
  min-height: 100%;
}
body {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 100%;
  height:100%;
}
.show {
  display:content;
}
.hide{
  display:none;
}
/*/////////////////SIDE NAV BAR//////////////*/
.social {
  margin-top: 100px;
  text-align: center;
  display:block;
  margin-left:-40px;
}
.sidebar {
  height: 100vh; 
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidebar a {
  text-align: center;
  margin:10px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: white;
  text-decoration: none;
}

 /* not wanting to work as links when clicked */
/* .sidebar a:nth-of-type(3):hover::after {
  content:"Home";
}
.sidebar a:nth-of-type(4):hover::after {
  content:"About";
}
.sidebar a:nth-of-type(5):hover::after {
  content:"Portfolio";
}
.sidebar a:nth-of-type(6):hover::after {
  content:"Contact";
} */

.sidebar .closeButton {
  position: absolute;
  top: 0;
  right: 15px;
  margin-top: -5px;
  font-size: 36px;
}

.openButton {
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(17, 17, 17, 0);
  color: white;
  padding: 10px 15px;
  border: none;
  position: absolute;
}
#main {
  transition: margin-left .5s;
}
/*/////////////////HOME DIV///////////////////*/
.home {
  min-height:380px;
  font-family: 'Bellota', cursive;
  margin: 0px;
  height: 100vh;
  overflow-x: hidden;
  width:100vw;
  background-color: #121f23;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(https://images.unsplash.com/photo-1495431088732-09e59535d241?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
}
h1 {
  /* color: rgb(218, 194, 9); */
  font-size: 15vw;
  padding-left:10%;
  margin: 0px auto 0 5px;
  color: #e0eff2;
  font: italic bold 16vw Georgia, Serif;
  text-shadow: -3px 3px 0 #712a2a7b, -14px 7px 0 #0a0e275a;
}

/*/////////////////ABOUT DIV//////////////////*/
.about {
  background: rgba(15, 15, 101, 0.568);
  min-height:100%;
  margin: 0px;
  height:100%;
  width:100%;
}
.about-text {
  background-color: rgba(6, 6, 6, 0.174);
  padding: 30px;
  margin-left:15%;
  width: 50%;
  max-width: 300px;
  border-radius: 25px;
  box-sizing: border-box;
}
.about-text p a {
  text-decoration: none;
  font-size: larger;
  color: black;
}
/*/////////////////PORTFOLIO DIV///////////////*/
.portfolio {
  background: rgba(10, 69, 10, 0.521);
  margin: 0px;
  height:100%;
  width:100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* .portfolio .grid p {
  padding: 30px;
  padding-top: 15%;
  margin-left:15%;
  width: 50%;
  max-width: 300px;
} */
.grid {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  height:100vh;
  grid-gap: 20px;
}
.grid a {
  width: 33.3vw;
  height: 200px;
}
.pBox .project-titles{
  text-decoration: none;
  align-items: center;
  margin:0;
  display: box;
  font-size: 26px;
  color: #e0eff2;
  background-color: rgba(0, 0, 0, 0.489);
  font: italic bold Georgia, Serif;
  text-shadow: -3px 3px 0 #712a2a7b, -14px 7px 0 #0a0e275a;
}
.pBox {
  width: 33.3vw;
  height: 300px;
  text-align: center;
}
.pBox .project-titles:hover {
  font-size: 0;
}
.pBox .project-titles:hover:after {
  content: attr(data-hover);
  font-size: 20px;
}
.pBox a {
  margin:0;
  padding: 0;
}

/*/////////////////CONTACT DIV/////////////////*/
.contact {
  background: rgba(74, 4, 74, 0.507);
  min-height:380px;
  margin: 0px;
  width:100%;
}
iframe {
  margin-left: 15%;
  padding-top: 15%;
  width:70%;
}
/*//////////////////MEDIA QUERIES//////////////*/